---
const nav=[
    {
        name:"Home",
        url:"/"
    },
    {
        name:"Latop",
        url:"/productos/laptop"
    }, 
    {
        name:"Home",
        url:"/nosotros"
    },
    
]
---
<!-- 
<div>
    <a href="/">Home</a>
    <a href="/productos/laptop">laptop</a>
    <a href="/nosotros">nosotros</a>
</div>
-->
